@import url('https://fonts.googleapis.com/css?family=Barlow:300,500,700|Roboto:100,400,700');

*,
*:before,
*:after {
    box-sizing: border-box
}

::-moz-selection {
    background: #ffcb36
}

::selection {
    background: #ffcb36
}

html {
    font-size: 14px;
    font-kerning: normal;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    transition: all 0.5s ease;
    background-color: white;
    line-height: 24px;
    padding: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    font-size: 14px;
    border: 0;
    border: solid #4c3796 1px;
    border-radius: 0;
    color: black;
    padding: 10px 15px;
    margin: 20px auto;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea,
input,
button,
select {
    margin: 0;
    font: inherit;
    color: inherit;
    text-transform: uppercase;
}

a {
    color: #4510AB;
    text-decoration: none
}

section {
    position: relative
}

article {
    margin: 2rem auto;
    padding: 0 2rem;
    max-width: 1000px
}

article img {
    max-width: 1000px;
    width: 100%
}

article h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    color: #4c3796;
    letter-spacing: -1.27px;
    line-height: 36px;
    margin-top: 80px;
    margin-bottom: 3%;
    font-weight: 300
}

article h1 strong {
    font-weight: 500
}

article h3 {
    margin-bottom: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4510AB;
    letter-spacing: -0.47px
}

article p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333333;
    letter-spacing: -0.42px;
    line-height: 24px;
    font-weight: 400;
    max-width: 500px;
    margin: 0 auto
}

.marker {
    max-width: 150px;
    width: 100%;
    margin-top: 100px
}

.menu-icon {
    display: block;
    margin-left: 0px;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 46px;
    position: absolute
}

.menu-icon {
    display: block;
    margin-left: 0px
}

.menu-items {
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(5rem-300px);
    margin: 0;
    max-width: 300px;
    z-index: 4;
    transition: all.3s ease-in-out;
    border-right: 1px solid #f0f0f0
}

.menu-items-open {
    left: 5rem;
    transition: all.3s ease-in-out
}

.menu-icon:hover {
    cursor: pointer
}

.menu-icon:before,
.menu-icon:after {
    content: '';
    width: 25px;
    height: 5px;
    background: #CACACA;
    display: block;
    position: absolute;
    left: 5px;
    transition: all.2s ease-in-out
}

.menu-icon:before {
    top: 13px
}

.menu-icon:after {
    top: 22px
}

.menu-icon-open:before {
    transform: rotate(45deg)translate(3px, 3px)
}

.menu-icon-open:after {
    transform: rotate(-45deg)translate(4px, -3px)
}

nav {
    text-align: center;
    background-color: white;
    margin: 4rem 0;
    padding: 3rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}

* {
    box-sizing: border-box
}

hr {
    color: #fff;
    margin-bottom: 20px;
    background-color: #fff
}

.device,
.mobile {
    display: none
}

.column {
    float: left
}

.three-column {
    float: left;
    width: 33.33%
}

.four-column {
    float: left;
    width: 25%;
    height: 200px;
    padding: 20px;
    margin-bottom: -60px
}

.four-column:hover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(240, 240, 240, 0.65)100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)0%, rgba(240, 240, 240, 0.65)100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(240, 240, 240, 0.65)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6f0f0f0', GradientType=0);
    cursor: pointer
}

.full-column {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px
}

.small {
    width: 35%;
    padding-right: 5%
}

.small p {
    padding-top: 20px
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.clear {
    height: 100px
}

.s-clear {
    height: 20px
}

.device {
    display: none
}


select {
    /*padding: 10px 30px 10px 10px;*/ /*move to reponsive.css*/

    border-bottom: 2px solid #d8d8d8 !important;
    border: solid #fff 1px;
    border-radius: 0px;
    font-size: 100%;
    line-height: 1.6875;
    font-family: 'Heebo', sans-serif;
    color: #66757f;
    text-align: center;
    background-image: url(../svg/select.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 95%center;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.form-group {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 33.33%;
    float: left;
    transition: all 0.5s ease
}

#navbar .panel p,
.form-group p {
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase
}

.form-group select {
    width: 260px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.btn-group > .btn:first-child {
    margin-left: 0
}

.btn-group.btn {
    display: block;
    float: left;
    padding: 10px 0px;
    margin: 0 !important;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    position: relative;
    float: left
}

.btn-link {
    color: #4c3796;
    font-weight: bold;
    text-transform: uppercase
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent
}

.btn-link,
.btn-link.active,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled].btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link {
    font-weight: 400;
    color: #337ab7;
    border-radius: 0
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button,
select {
    text-transform: none
}

button {
    overflow: visible
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}